/* Apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Reset */
html, body, div {
    border: 0;
    margin: 0;
    padding: 0;
}

.site-title{
    font-size: 120px;
}
@media screen and (min-width: 600px) and (max-width: 1200px){
    .site-title{
        font-size: 80px;
    }

}
@media screen and (max-width: 600px){
    .site-title{
        font-size: 50px;
    }

}
